body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-family: Arial, sans-serif;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1{
    font-size: 60px;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 150px;

    background: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    font-size: 20px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7); /* opacidade normal */
    background-blend-mode: darken;
    font-weight: 700;
}

.btn:hover{
    background-size: cover;
    background-position: center;
    color: white;
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0);
}

/*PRIMEIRO*/
.congerais{
    background-image: url('https://pt.quizur.com/_image?href=https://img.quizur.com/f/img652f3446017a15.95659966.jpeg?lastEdited=1697592392&w=600&h=600&f=webp');
}

/*SEGUNDO*/
.espacosideral{
    background-image: url('https://wallpapers.com/images/hd/outer-space-background-dsucnstm3tc9wxnd.jpg') !important;
}

/*TERCEIRO*/
.filmeseseries{
    background-image: url('https://uploads.jovemnerd.com.br/wp-content/uploads/marvel2-daredevil-punisher-guardians-of-the-galaxy-marvel-s-future.jpeg') !important;
}

/*QUARTO*/
.godofwar{
    background-image: url('https://i.ytimg.com/vi/KaIeyKIwDz8/hq720.jpg?sqp=-oaymwEXCK4FEIIDSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLA3gSldo1t2qvM_DdsSyHzFM4HHRg') !important;
}

/*CINCO*/
.nordeste{
    background-image: url('https://www.viagensmontreal.com/blog/wp-content/uploads/2024/02/Salvador-960x560.jpg');
}

/*SEIS*/
.marvelXMen{
    background-image: url('https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/edea5c44-4514-11ef-aa78-d602bea5d5c0/avengers-x-men.jpg');
}

/*SETE*/
.novelas{
    background-image: url('https://pt.quizur.com/_image?href=https://dev-beta.quizur.com/storage/v1/object/public//imagens//20268547/b9038892-14c5-40d7-a070-9c00a631f6c4.png&w=600&h=600&f=webp');
}

/*OITO*/
.rocknacional{
    background-image: url('https://akamai.sscdn.co/uploadfile/letras/playlists/8/7/c/a/87ca3d120a1442f68ccb5dbe917d4096.jpg')
}